.header {
    background: #3f51b5;
    padding: 10px 0;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user_img{
        width: 30px;
        height:30px;
    }

    .nav_item {
        height: auto;
        letter-spacing: normal;
        font-size: 13px;
        padding: 2px 0;
        margin-right: 16px;
        color: #fff;
    }
}

.card_box{
    padding: 20px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    max-width: 90%;
    margin: 0 auto;
}